@model HomeViewModel
<head>
    <link rel="stylesheet" href="~/css/TopStyle.css">
    <link rel="stylesheet" href="~/css/slider_style.css">
    <link rel="stylesheet" href="~/css/Genre.css">
    <link rel="stylesheet" href="~/css/Footer.css">
    <link rel="stylesheet" href="~/css/list_style.css" />
    <link type="text/css" rel="stylesheet" href="~/css/lightslider.css" />
</head>
<body style="margin:0;">
    <div id="Top" class="bg-img">
        <div id="Header">
            <div class="menu">
                <ul>
                    <li><a id="browse" onclick="showCategory()"><b class="browse">BROWSE</b></a></li>
                    <li><a href="#twitter"><span class="icon icon-twitter"></span></a></li>
                    <li><a href="#facebook"><span class="icon icon-facebook"></span></a></li>
                    <li><a href="#instagram"><span class="icon icon-instagram"></span></a></li>
                    <li style="float:right"><a href="#profile"><img src="~/img/user.png" class="profile" alt="User"></a></li>
                    <li style="float:right"><a href="ShopCart/Index"><img src="~/img/basket.png" class="profile" alt="Basket"></a></li>
                </ul>
            </div>
            @Html.Partial("ShowMenu");
        </div>
        <form >
            <div id="Search" class="mysearch-box">
                <label>
                    <input class="mysearch-txt" type="text" placeholder="Type to Search" name="Searching">
                    <button class="search-btn" asp-controller="Books" asp-action="findBook" type="submit">
                        <img src="~/img/search.png" class="search" alt="Search">
                    </button>
                </label>
               
            </div>
        </form>
        
        <div id="Up_Logo">
            <img src="~/img/logo.svg" alt="logo_text">
        </div>
    </div>
    <div id="slideshow">
        <div id="myslider">
            <img src="~/img/book_list.png" alt="famous_book_1">
            <img src="~/img/book_list.png" alt="famous_book_2">
            <img src="~/img/book_list.png" alt="famous_book_3">
        </div>
    </div>
    <!--1-->
    <div id="slider_lists">
        <div class="list_margins">
            <ul>
                <div class="clearfix float-text">
                    <div class="circle-img">
                        <img src="~/img/Ellipse_1.png">
                    </div>
                    <h1>2020 National Book Awards Finalists</h1>
                    <button onclick="window.location.href='/Books/List';"> VIEW ALL </button>
                </div>
                <ul class="cs-hidden">
                    <li class="item-a"><a class="" asp-controller="OneBook" asp-action="GetOneBook" asp-route-id="1"><img src="~/img/IT.jpg" class="box"></a></li>
                    <li class="item-a"><a class="" asp-controller="OneBook" asp-action="GetOneBook" asp-route-id="3"><img src="~/img/cover1__w220.jpg" class="box"></a></li>
                    <li class="item-a"><a href="#"><img src="~/img/Book_3.png" class="box"></a></li>
                    <li class="item-a"><a href="#"><img src="~/img/Book_4.png" class="box"></a></li>
                    <li class="item-a"><a href="#"><img src="~/img/Book_5.png" class="box"></a></li>
                </ul>
            </ul>
        </div>
        <!--2-->
        <div class="list_margins">
            <ul>
                <div class="clearfix float-text">
                    <div class="circle-img">
                        <img src="~/img/Ellipse_2.png">
                    </div>
                    <h1>New Cookbooks</h1>
                    <button onclick="window.location.href='/Books/List'"> VIEW ALL </button>
                </div>
                <ul class="cs-hidden">
                    <li class="item-a"><a href="#"><img src="~/img/Book_1@2x.png" class="box"></a></li>
                    <li class="item-a"><a href="#"><img src="~/img/Book_2@2x.png" class="box"></a></li>
                    <li class="item-a"><a href="#"><img src="~/img/Book_3@2x.png" class="box"></a></li>
                    <li class="item-a"><a href="#"><img src="~/img/Book_4@2x.png" class="box"></a></li>
                    <li class="item-a"><a href="#"><img src="~/img/Book_5@2x.png" class="box"></a></li>
                </ul>
            </ul>
        </div>
    </div>
    

    
</body>
<script>
    simpleslider.getSlider({
        container: document.getElementById('myslider'),
        prop: 'left',
        init: document.body.clientWidth,
        show: 0,
        end: -document.body.clientWidth,
        unit: 'px',
        delay: 6,
        duration: 2
    });

    let count = 0;
    function showCategory() {
        const category = document.getElementById("category");
        if (count == 0)
            category.style.visibility = 'visible';
        else
            category.style.visibility = 'hidden';
        count = count == 0 ? 1 : 0;
    }

    const element = document.getElementById('category');
    document.addEventListener('click', function ({ target }) {
        let isVisible;
        isVisible = element.contains(target);
        (count > 0) ? count++ : 0;
        if (!isVisible && count >= 3) {
            document.getElementById('category').style.visibility = "hidden";
            count = 0;
        }
    });
</script>