<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--css-->
    <link href="~/css/CategoriesStyle.css" rel="stylesheet">
    <link href="~/css/header_normal.css" rel="stylesheet" media="screen">
    <link href="~/css/GenreCategories.css" rel="stylesheet" media="screen">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/css/Footer.css" rel="stylesheet" media="screen">
    <!--js and jquery-->
    <script src="~/js/JQuery3.3.1.js"></script>
    <script src="~/js/lightslider.js"></script>
    <script src="~/js/slider.js"></script>
    <script src="~/js/script.js" type="text/javascript"></script>
</head>
<body>

    <div >
        @RenderBody()
    </div>
    <footer id="footer">
        <div id="social_icons">
            <svg class="twitter" viewBox="0 0.822 30.789 28">
                <a href="#twitter">
                    <path id="icons" d="M 30.78929328918457 4.136576175689697 C 29.65646362304688 4.698780536651611 28.4389591217041 5.078742504119873 27.16120719909668 5.249625682830811 C 28.46542549133301 4.374765396118164 29.4670352935791 2.989502429962158 29.93862342834473 1.338954567909241 C 28.71823120117188 2.148920059204102 27.36626815795898 2.737194061279297 25.92747116088867 3.054278373718262 C 24.77515602111816 1.680481433868408 23.13346481323242 0.8220000267028809 21.31665229797363 0.8220000267028809 C 17.82808303833008 0.8220000267028809 14.99967861175537 3.986862659454346 14.99967861175537 7.890479564666748 C 14.99967861175537 8.444485664367676 15.05560493469238 8.984001159667969 15.16336631774902 9.501336097717285 C 9.913406372070313 9.206551551818848 5.258919239044189 6.392419338226318 2.143391847610474 2.115892887115479 C 1.599660277366638 3.159888029098511 1.28814697265625 4.374133586883545 1.28814697265625 5.669547080993652 C 1.28814697265625 8.121858596801758 2.40342903137207 10.28545761108398 4.098367691040039 11.55301284790039 C 3.062825202941895 11.5163402557373 2.088884830474854 11.19838047027588 1.23714005947113 10.66894721984863 C 1.236683368682861 10.69843482971191 1.236683368682861 10.72805595397949 1.236683368682861 10.75780010223389 C 1.236683368682861 14.18258762359619 3.414087533950806 17.03957176208496 6.303819179534912 17.68894958496094 C 5.773714065551758 17.85044860839844 5.215670585632324 17.93685722351074 4.639513492584229 17.93685722351074 C 4.232505321502686 17.93685722351074 3.836755037307739 17.89257621765137 3.451143026351929 17.81007385253906 C 4.25491189956665 20.61833572387695 6.587730407714844 22.66202163696289 9.351886749267578 22.71908569335938 C 7.190020561218262 24.61486053466797 4.466300010681152 25.74497604370117 1.506859183311462 25.74497604370117 C 0.9970282912254333 25.74497604370117 0.4941777586936951 25.71146583557129 0 25.64619255065918 C 2.795463562011719 27.65179061889648 6.115848541259766 28.82201194763184 9.683100700378418 28.82201194763184 C 21.30198287963867 28.82201194763184 27.65551948547363 18.05098342895508 27.65551948547363 8.710145950317383 C 27.65551948547363 8.403654098510742 27.64938926696777 8.098803520202637 27.63724136352539 7.795703887939453 C 28.87133598327637 6.799110889434814 29.94234657287598 5.554112434387207 30.78929328918457 4.136576175689697">
                    </path>
                </a>
            </svg>
            <svg class="facebook" viewBox="103.376 38.665 12.879 24.8">
                <a href="#facebook">
                    <path id="icons" d="M 111.7354965209961 63.46495056152344 L 111.7354965209961 52.15254974365234 L 115.5326919555664 52.15254974365234 L 116.101188659668 47.74394989013672 L 111.7354965209961 47.74394989013672 L 111.7354965209961 44.92911529541016 C 111.7354965209961 43.65270233154297 112.0900344848633 42.78284454345703 113.9204559326172 42.78284454345703 L 116.2550048828125 42.78181457519531 L 116.2550048828125 38.83878707885742 C 115.8510589599609 38.78504180908203 114.4653167724609 38.66500091552734 112.8531951904297 38.66500091552734 C 109.4872131347656 38.66500091552734 107.1828994750977 40.71952819824219 107.1828994750977 44.49265289306641 L 107.1828994750977 47.74394989013672 L 103.3759994506836 47.74394989013672 L 103.3759994506836 52.15254974365234 L 107.1828994750977 52.15254974365234 L 107.1828994750977 63.46495056152344 L 111.7354965209961 63.46495056152344">
                    </path>
                </a>
            </svg>
            <svg class="instagram" viewBox="0 0 29.161 28">
                <a href="#instagram">
                    <path id="icons" d="M 14.58034515380859 2.522571563720703 C 18.47341156005859 2.522571563720703 18.93451499938965 2.536800861358643 20.47194290161133 2.604154348373413 C 21.89352989196777 2.666454315185547 22.66560363769531 2.894523143768311 23.17944717407227 3.08619213104248 C 23.85993766784668 3.340171575546265 24.34564590454102 3.643599987030029 24.85584449768066 4.133468627929688 C 25.36604118347168 4.623348712921143 25.68202590942383 5.089778900146484 25.9465217590332 5.743206977844238 C 26.14620590209961 6.236575603485107 26.38370704650879 6.977865695953369 26.44863319396973 8.342801094055176 C 26.51868629455566 9.819100379943848 26.53349685668945 10.26185035705566 26.53349685668945 14.00000476837158 C 26.53349685668945 17.73822593688965 26.51868629455566 18.18097686767578 26.44863319396973 19.65721321105957 C 26.38370704650879 21.02221298217773 26.14620590209961 21.7634449005127 25.9465217590332 22.25683975219727 C 25.68202590942383 22.91024398803711 25.36604118347168 23.37672805786133 24.85584449768066 23.86661911010742 C 24.34564590454102 24.35651016235352 23.85993766784668 24.6599178314209 23.17944717407227 24.91377639770508 C 22.66560363769531 25.10551071166992 21.89352989196777 25.33366584777832 20.47194290161133 25.39589881896973 C 18.93474578857422 25.46327590942383 18.47364044189453 25.47749710083008 14.58034515380859 25.47749710083008 C 10.68694877624512 25.47749710083008 10.22584533691406 25.46327590942383 8.688632965087891 25.39589881896973 C 7.267061233520508 25.33366584777832 6.495043277740479 25.10551071166992 5.981279373168945 24.91377639770508 C 5.30070686340332 24.6599178314209 4.814943313598633 24.35651016235352 4.304756164550781 23.86661911010742 C 3.794580698013306 23.37672805786133 3.47856330871582 22.91024398803711 3.214123010635376 22.25683975219727 C 3.014452457427979 21.7634449005127 2.776929378509521 21.02221298217773 2.71204662322998 19.65721321105957 C 2.641901969909668 18.18097686767578 2.627081871032715 17.73822593688965 2.627081871032715 14.00000476837158 C 2.627081871032715 10.26185035705566 2.641901969909668 9.819100379943848 2.71204662322998 8.342855453491211 C 2.776929378509521 6.977865695953369 3.014452457427979 6.236575603485107 3.214123010635376 5.743206977844238 C 3.47856330871582 5.089778900146484 3.794580698013306 4.623348712921143 4.304756164550781 4.133468627929688 C 4.814943313598633 3.643599987030029 5.30070686340332 3.340171575546265 5.981279373168945 3.08619213104248 C 6.495043277740479 2.894523143768311 7.267061233520508 2.666454315185547 8.68857479095459 2.604154348373413 C 10.22607421875 2.536800861358643 10.68717670440674 2.522571563720703 14.58034515380859 2.522571563720703 M 14.58034515380859 -1.583248376846313e-07 C 10.62050628662109 -1.583248376846313e-07 10.12403297424316 0.01611603610217571 8.568892478942871 0.08424870669841766 C 7.01691722869873 0.1522706896066666 5.957085609436035 0.3889002799987793 5.029603958129883 0.735010027885437 C 4.070821285247803 1.092790126800537 3.257704973220825 1.571500658988953 2.447140216827393 2.349802255630493 C 1.636586785316467 3.128104448318481 1.138031363487244 3.908845186233521 0.7654204368591309 4.829466342926025 C 0.4049634039402008 5.720030784606934 0.158524826169014 6.737688541412354 0.08768334984779358 8.227880477905273 C 0.01672638207674026 9.721068382263184 -9.06512731546627e-09 10.19783401489258 -9.06512731546627e-09 14.00000476837158 C -9.06512731546627e-09 17.80221176147461 0.01672638207674026 18.27897644042969 0.08768334984779358 19.77216339111328 C 0.158524826169014 21.26239776611328 0.4049634039402008 22.28002738952637 0.7654204368591309 23.17055511474609 C 1.138031363487244 24.09116363525391 1.636586785316467 24.87199592590332 2.447140216827393 25.65030670166016 C 3.257704973220825 26.42862129211426 4.070821285247803 26.9072437286377 5.029603958129883 27.26501083374023 C 5.957085609436035 27.61118507385254 7.01691722869873 27.84776306152344 8.568892478942871 27.91579437255859 C 10.12403297424316 27.98393058776855 10.62050628662109 28.00000953674316 14.58034515380859 28.00000953674316 C 18.54016494750977 28.00000953674316 19.03669166564941 27.98393058776855 20.59177780151367 27.91579437255859 C 22.14367294311523 27.84776306152344 23.20359802246094 27.61118507385254 24.13104248046875 27.26501083374023 C 25.08981513977051 26.9072437286377 25.90289497375488 26.42862129211426 26.71347045898438 25.65030670166016 C 27.52404975891113 24.87199592590332 28.02263069152832 24.09116363525391 28.39522171020508 23.17055511474609 C 28.75563049316406 22.28002738952637 29.00213050842285 21.26239776611328 29.07297897338867 19.77216339111328 C 29.14394760131836 18.27897644042969 29.16069030761719 17.80221176147461 29.16069030761719 14.00000476837158 C 29.16069030761719 10.19783401489258 29.14394760131836 9.721068382263184 29.07297897338867 8.227880477905273 C 29.00213050842285 6.737688541412354 28.75563049316406 5.720030784606934 28.39522171020508 4.829466342926025 C 28.02263069152832 3.908845186233521 27.52404975891113 3.128104448318481 26.71347045898438 2.349802255630493 C 25.90289497375488 1.571500658988953 25.08981513977051 1.092790126800537 24.13104248046875 0.735010027885437 C 23.20359802246094 0.3889002799987793 22.14367294311523 0.1522706896066666 20.59177780151367 0.08424870669841766 C 19.03669166564941 0.01611603610217571 18.54016494750977 -1.583248376846313e-07 14.58034515380859 -1.583248376846313e-07 Z M 14.58034515380859 6.810817718505859 C 10.44525718688965 6.810817718505859 7.093087673187256 10.02956008911133 7.093087673187256 14.00000476837158 C 7.093087673187256 17.97053909301758 10.44525718688965 21.1892261505127 14.58034515380859 21.1892261505127 C 18.71535491943359 21.1892261505127 22.06758117675781 17.97053909301758 22.06758117675781 14.00000476837158 C 22.06758117675781 10.02956008911133 18.71535491943359 6.810817718505859 14.58034515380859 6.810817718505859 Z M 14.58034515380859 18.66671180725098 C 11.89619445800781 18.66671180725098 9.720170021057129 16.57732009887695 9.720170021057129 14.00000476837158 C 9.720170021057129 11.42269134521484 11.89619445800781 9.333333015441895 14.58034515380859 9.333333015441895 C 17.26449394226074 9.333333015441895 19.44049835205078 11.42269134521484 19.44049835205078 14.00000476837158 C 19.44049835205078 16.57732009887695 17.26449394226074 18.66671180725098 14.58034515380859 18.66671180725098 Z M 24.1129322052002 6.52678108215332 C 24.1129322052002 7.454630851745605 23.32969284057617 8.206814765930176 22.36340522766113 8.206814765930176 C 21.39699745178223 8.206814765930176 20.6136474609375 7.454630851745605 20.6136474609375 6.52678108215332 C 20.6136474609375 5.598930358886719 21.39699745178223 4.846813201904297 22.36340522766113 4.846813201904297 C 23.32969284057617 4.846813201904297 24.1129322052002 5.598930358886719 24.1129322052002 6.52678108215332 Z">
                    </path>
                </a>
            </svg>
        </div>
        <div class="footer_buttons">
            <button>LOGIN</button>
            <button>SIGN UP</button>
        </div>
        <div id="list_support">
            <div id="ABOUT">
                <span onclick="window.location.href='www.google.com';">ABOUT</span>
            </div>
            <div id="SUPPORT__HELP">
                <span onclick="window.location.href='www.google.com';">SUPPORT / HELP</span>
            </div>
            <div id="CONTACT">
                <span onclick="window.location.href='www.google.com';">CONTACT</span>
            </div>
            <div id="PRIVACY_NOTICE">
                <span onclick="window.location.href='www.google.com';">PRIVACY NOTICE</span>
            </div>
        </div>
        <div id="middle_thing">
            <div id="informed">
                <span>Stay informed about events and product launches. </span>
            </div>
            <div id="ok_button">
                <button class="ok_button">OK</button>
            </div>
            <div id="email_text">
                <label>
                    <input class="email_text" type="text" name="input_email" placeholder=" Your email">
                </label>
            </div>
            <div id="Subscribe">
                <span>Subscribe</span>
            </div>
        </div>
        <div id="Footer_Logo">
            <img src="~/img/logo.svg" alt="logo_text">
        </div>
    </footer>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
