<!DOCTYPE html>
<html>
<head>
    <title>Book Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/customStyle1.css">
</head>
<body style="margin:0;">
    <div class="container row">
        @RenderBody()
    </div>
    <footer class="container">
        <p class="float-right"><a href="#" style="color:white">Наверх</a></p>
        <p>© 2020 BatuaCompany, Inc. </p>

    </footer>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
