<div id="category">
    <svg class="Genres" viewBox="0 -41.396 419.333 242.729">
        <path id="Genres" d="M 24.06542778015137 -5.173348903656006 L 403.5093688964844 -5.173348903656006 C 412.2486572265625 -5.173348903656006 419.333251953125 1.094864845275879 419.333251953125 8.827098846435547
              L 419.333251953125 187.3328094482422 C 419.333251953125 195.0650482177734
              412.2486572265625 201.333251953125 403.5093688964844 201.333251953125
              L 15.82389640808105 201.333251953125 C 7.084599494934082 201.333251953125
              0 195.0650482177734 0 187.3328094482422 L 0 -40.46607208251953 C
              0 -48.19830703735352 15.32613277435303 -5.173348903656006 24.06542778015137
              -5.173348903656006 Z" fill="#eaeaea">
        </path>
    </svg>
    <div id="Left_Normal">
        <div id="Popular_Books">
            <span>Popular Books</span>
        </div>
        <div id="Arts__Photography">
            <span>Arts & Photography</span>
        </div>
        <div id="Business__Investing">
            <span>Business & Investing</span>
        </div>
        <div id="Biography__Memoir">
            <span>Biography & Memoir</span>
        </div>
        <div id="Children_Books">
            <span>Children's Books</span>
        </div>
        <div id="Comics__Graphic_Novels">
            <span>Comics & Graphic Novels</span>
        </div>
    </div>
    <div id="Right_Normal">
        <div id="Fantasy">
            <span>Fantasy</span>
        </div>
        <div id="Cooking__Wine">
            <span>Cooking & Wine</span>
        </div>
        <div id="Romantic">
            <a onclick="changeAddress('romantic')" ><span>Romantic</span></a>
        </div>
        <div id="Horror">
            <a onclick="changeAddress('horror')" ><span>Horror</span></a>
            </div>
        <div id="Science__Technology">
            <span>Science & Technology</span>
        </div>
        <div id="Teen__Young_Adult">
            <span>Teen & Young Adult</span>
        </div>
    </div>
    <svg class="Line_Normal" viewBox="0 0 1 181">
        <path id="Line_Normal" d="M 0 0 L 0 181">
        </path>
    </svg>
</div>
<script>
    function changeAddress(bookCat) {
        location.href = "localhost:44315";
        location.pathname = "/Books/List/" + bookCat;
    }
</script>