@model ShopCartViewModel
<head>
    <title>Book Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--css-->
    <link rel="stylesheet" href="~/css/TopStyle.css">
    <link rel="stylesheet" href="~/css/slider_style.css">
    <link rel="stylesheet" href="~/css/Genre.css">
    <link rel="stylesheet" href="~/css/Footer.css">
    <link rel="stylesheet" href="~/css/list_style.css" />
    <link type="text/css" rel="stylesheet" href="~/css/lightslider.css" />
    <!--js and jquery-->
    <script src="~/js/JQuery3.3.1.js"></script>
    <script src="~/js/lightslider.js"></script>
    <script src="~/js/slider.js"></script>
    <script src="~/js/script.js" type="text/javascript"></script>
</head>
<body style="margin:0;">
    
    <div class="container">
        @foreach (var el in Model.shopCart.listShopItems)
        {
            <div class="alert alert-warning mt-3">
                <b>Книга: </b> @el.book.name <br />
                <b>Цена: </b> @el.book.price.ToString("c")
            </div>
        }
        <hr>
        <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Оплатить</a>
    </div>
</body>