
<head>
    <meta charset="UTF-8">
    <link href="~/css/bootstrap-grid.css.map" rel="stylesheet" media="screen">
    <link href="~/css/client_order.css" rel="stylesheet">
    <title>Заказ</title>
</head>
@model Order
<body style="margin:0;">
    @Html.Partial("ShowTopDefault");
    <div>
        <form asp-action="Checkout" method="post" class="form-horizontal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="client-order-info">
                            <p style="font-size:50px">Оформление заказа</p>
                            <p>Контактная информация</p>
                            <div class="form-group">
                                <div class="col-20">
                                    <input asp-for="email" class="email_order" type="text" placeholder="Email" />
                                    <span asp-validation-for="email" class="text-danger"></span>
                                </div>
                            </div>
                            <p>Адрес доставки</p>
                            <div class="shipping">
                                <div class="form-group">
                                    <div class="col-20">
                                        <input asp-for="surname" class="client-names" type="text" placeholder="Фамилия" />
                                        <br />
                                        <span asp-validation-for="surname" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-20">
                                        <input asp-for="name" class="client-names" type="text" placeholder="Имя" />
                                        <span asp-validation-for="name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-20">
                                        <input asp-for="adress" class="client-adress-phone" type="text" placeholder="Область/Регион, Город, Почтовый индекс, Адрес" />
                                        <span asp-validation-for="adress" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-20">
                                        <input asp-for="phone" class="client-adress-phone" type="text" placeholder="Телефон" />
                                        <span asp-validation-for="phone" class="text-danger"></span>
                                    </div>
                                </div>
                                <table border="0" cellpadding="10" cellspacing="0" class="cart-price" width="100%">
                                    <tr>
                                        <td align="left" width="50%">
                                            <a id="basket_return" href="/ShopCart/Index">Вернуться в корзину</a>
                                        </td>
                                        <td align="right" width="50%">
                                            <input class="shipping-buttons" type="submit" value="Завершить заказ"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</body>