<head>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/css/complete_order.css" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
    <title>Завершение покупки</title>
</head>
<body>
    @Html.Partial("ShowTopDefault");
    <div class="complete_order">
        <hr>
        <img src="~/img/galka.png">
        <br>
        <h1>Заказ успешно завершен!</h1>
    </div>
</body>