#browse {
  cursor: pointer;
}
#category {
  position: absolute;
  width: 419px;
  height: 242px;
  left: 25px;
  top: 48px;
  visibility: hidden;
}

.Genres {
  position: absolute;
  width: 419px;
  height: 242px;
  left: 0;
  top: 0;
}

#Left_Normal {
  position: absolute;
  width: 166px;
  height: 175px;
  left: 20px;
  top: 46px;
  overflow: visible;
}
#Left_Normal, #Right_Normal span {
  color: rgb(52, 52, 55);
  white-space: nowrap;
  text-align: center;
  font-family: Oswald, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
}

#Popular_Books {
  left: 0;
  top: 0;
  position: absolute;
  overflow: visible;
  width: 95px;
}

#Arts__Photography {
  left: 0;
  top: 30px;
  position: absolute;
  overflow: visible;
  width: 131px;
}
#Business__Investing {
  left: 0;
  top: 90px;
  position: absolute;
  overflow: visible;
  width: 140px;
}

#Biography__Memoir {
  left: 0;
  top: 60px;
  position: absolute;
  overflow: visible;
  width: 137px;
}

#Children_Books {
  left: 0;
  top: 120px;
  position: absolute;
  overflow: visible;
  width: 111px;
}

#Comics__Graphic_Novels {
  left: 0;
  top: 150px;
  position: absolute;
  overflow: visible;
  width: 167px;
}

#Right_Normal {
  position: absolute;
  width: 142px;
  height: 175px;
  left: 233px;
  top: 46px;
  overflow: visible;
}

#Fantasy {
  left: 0;
  top: 0;
  position: absolute;
  overflow: visible;
  width: 53px;
}
#Cooking__Wine {
  left: 0;
  top: 30px;
  position: absolute;
  overflow: visible;
  width: 105px;
}

#History {
  left: 2px;
  top: 90px;
  position: absolute;
  overflow: visible;
  width: 49px;
}

#Horror {
  left: 0;
  top: 60px;
  position: absolute;
  overflow: visible;
  width: 45px;
}

#Science__Technology {
  left: 0;
  top: 120px;
  position: absolute;
  overflow: visible;
  width: 143px;
}

#Teen__Young_Adult {
  left: 0;
  top: 150px;
  position: absolute;
  overflow: visible;
  width: 129px;
}

#Line_Normal {
  fill: transparent;
  stroke: rgb(52, 52, 52);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_Normal {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 181px;
  left: 209px;
  top: 46px;
  transform: matrix(1,0,0,1,0,0);
}
