@model BooksListViewModel
@{
    if (Model.currCategory.Equals(""))
    {
        <h1>Все книги</h1>
        <h3>Ужастики</h3>

        <div class="row mt-5 mb-2">
            @{
                foreach (Book book in Model.allBooks)
                {

                    if (book.Category.categoryName == "horror")
                    {
                        @Html.Partial("AllBooks", book)
                    }
                }

            }
        </div>
        <h3 style="margin-top: 50px;">Романтика</h3>

        <div class="row mt-5 mb-2">
            @{
                foreach (Book book in Model.allBooks)
                {

                    if (book.Category.categoryName == "romantic")
                    {

                        @Html.Partial("AllBooks", book)
                    }
                }
            }
        </div>
    }
    else
    {
        switch (Model.currCategory)
        {
            case "horror":
                <h3>Ужастики</h3>

                <div class="row mt-5 mb-2">
                    @{
                        foreach (Book book in Model.allBooks)
                        {

                            if (book.Category.categoryName == "horror")
                            {
                                @Html.Partial("AllBooks", book)
                            }
                        }

                    }
                </div>
                break;
            case "romantic": 
                <h3>Романтика</h3>

                <div class="row mt-5 mb-2">
                    @{
                        foreach (Book book in Model.allBooks)
                        {

                            if (book.Category.categoryName == "romantic")
                            {

                                @Html.Partial("AllBooks", book)
                            }
                        }
                    }
                </div>
                break;
        }
    }
}
