@model BooksListViewModel
<head>
    <title>Book Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--css-->
    <link rel="stylesheet" href="~/css/TopStyle.css">
    <link rel="stylesheet" href="~/css/slider_style.css">
    <link rel="stylesheet" href="~/css/Genre.css">
    <link rel="stylesheet" href="~/css/Footer.css">
    <link rel="stylesheet" href="~/css/list_style.css" />
    <link type="text/css" rel="stylesheet" href="~/css/lightslider.css" />
    <!--js and jquery-->
    <script src="~/js/JQuery3.3.1.js"></script>
    <script src="~/js/lightslider.js"></script>
    <script src="~/js/slider.js"></script>
    <script src="~/js/script.js" type="text/javascript"></script>
</head>
<body style="margin:0;">
    

    @{
        if (Model.currCategory.Equals(""))
        {
            <h1>Все книги</h1>
            <h3>Ужастики</h3>

            <div class="row mt-5 mb-2">
                @{
                    foreach (Book book in Model.allBooks)
                    {

                        if (book.Category.categoryName == "horror")
                        {
                            @Html.Partial("AllBooks", book)
                        }
                    }

                }
            </div>
            <h3 style="margin-top: 50px;">Романтика</h3>

            <div class="row mt-5 mb-2">
                @{
                    foreach (Book book in Model.allBooks)
                    {

                        if (book.Category.categoryName == "romantic")
                        {

                            @Html.Partial("AllBooks", book)
                        }
                    }
                }
            </div>
        }
        else
        {

            <h3>@Model.currCategory</h3>

            <div class="row mt-5 mb-2">
                    @{
                        foreach (Book book in Model.allBooks)
                        {

                             if (book.Category.categoryName == Model.currCategory)
                             {
                                   @Html.Partial("AllBooks", book)
                             }
                        }

                    }
            </div>
                    
        }
    }
</body>